<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>
<style>
	.active{
		color:red;
	}
	.text-danger{
		background-color:lightpink;
	}
</style>
</head>
<body>

<div id="myapp">
  <p>{{ message }}</p>
</div>

<div id="app_2">
	<span v-bind:title="message">
		Hover your mouse over me for a few seconds
		to see my dynamically bound title!
	</span>
</div>

<div id="app-3">
	<p v-if="seen">Now you see me</p>
</div>

<div id="app-4">
	<ol>
		<li v-for="todo in todos">
			{{todo.subject}}
		</li>
	</ol>
</div>

<div id="app-5">
	<p>{{ message }}</p>
	<button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
	<p>{{message}}</p>
	<input v-model="message"/>
</div>

<div id="app-7">
	<h3>app-7</h3>
	<ol>
		<todo-item v-for="grocery in groceryList" v-bind:todo="grocery" v-bind:key="grocery.id"></todo-item>
	</ol>
</div>

<div id="myapp-2">
	<input type="text" value="disabled?" v-bind:disabled="isDisabled" />
	<input type="checkbox" v-model="isDisabled" />
</div>

<div id="app-filter">
	<div>{{ message | capitalize }}</div>
	<input v-model="message" />
</div>

<div id="app-compute">
	<h3>app-compute</h3>
	<div><input type="text" v-model="v1" /></div>
	<div><input type="text" v-model="v2" /></div>
	<div><input type="text" v-model="v3" /></div>
	<!-- <button type="button" @click="combine"></button> -->
	<label>{{combine_message}}</label>
</div>

<div id="nameapp-1"><h3>nameapp-1</h3>{{ fullName }}
	<div><input type="text" v-model="firstName" /></div>
	<div><input type="text" v-model="lastName" /> </div>
</div>

<div id="nameapp-2"><h3>nameapp-2</h3>{{ fullName }}
	<div><input type="text" v-model="firstName" /></div>
	<div><input type="text" v-model="lastName" /> </div>
	<div><input type="text" v-model="fullName" /></div>
</div>

<div id="watch-example"><h3>watch-example</h3>
  <p>
    Input wait
    <input v-model="input_value">
  </p>
  <p>{{ return_value }}</p>
</div>

<div id="watch-example_to_computed">
	<h3>watch-example to computed</h3>
  <p>
    Input wait
    <input v-model="input_value">
  </p>
  <p>{{ return_value }}</p>
</div>

<div id="dynamicClass" class="static"
     v-bind:class="{ active: isActive, 'text-danger': hasError }">
	<h3>dynamicClass</h3>
	<input type="checkbox" v-model="isActive" />
	<input type="checkbox" v-model="hasError" />
</div>

<footer style="height:50px"></footer>

<script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
<script src="https://unpkg.com/lodash@4.13.1/lodash.min.js"></script>
<script src="./index.js"></script>
</body>
</html>
