<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
<script src="https://unpkg.com/vue"></script>
<style>
	table#myapp-with-component, table#myapp-with-component td, table#myapp-with-component th{
		border:1px solid black;
	}
	.active{
		background-color:#ffa0a0;
	}
</style>
</head>
<body>

<div id="myapp">
  <p>{{ message }}</p>
</div>

<div id="app_2">
	<span v-bind:title="message">
		Hover your mouse over me for a few seconds
		to see my dynamically bound title!
	</span>
</div>

<div id="app-3">
	<p v-if="seen">Now you see me</p>
</div>

<div id="app-4">
	<ol>
		<li v-for="todo in todos">
			{{todo.subject}}
		</li>
	</ol>
</div>

<div id="app-5">
	<p>{{ message }}</p>
	<button v-on:click="reverseMessage">Reverse Message</button>
</div>

<div id="app-6">
	<p>{{message}}</p>
	<input v-model="message"/>
</div>

<div id="app-7">
	<ol>
		<todo-item v-for="grocery in groceryList" v-bind:todo="grocery"></todo-item>
	</ol>
</div>

<div id="myapp-2">
	<input type="text" value="disabled?" v-bind:disabled="isDisabled" />
	<input type="checkbox" v-model="isDisabled" />
</div>

<div id="app-filter">
	<div>{{ message | capitalize }}</div>
	<input v-model="message" />
</div>

<div id="app-compute">
	<h3>app-compute</h3>
	<div><input type="text" v-model="v1" v-once /></div>
	<div><input type="text" v-model="v2" /></div>
	<div><input type="text" v-model="v3" /></div>
	<!-- <button type="button" @click="combine"></button> -->
	<label>{{combine_message}}</label>
</div>

<table id="myapp-with-component">
	<h3>myapp-with-component</h3>
	<tr is='worklist' v-for='worktime in workers' v-bind:worktime=worktime></tr>
	<tr><th>static row</th><td is="workbox" v-bind:worktime=workers[0]></td></tr>
</table>


<script src="./index.js"></script>
</body>
</html>
